/*heading font*/
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
/*body font*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Ga+Maamli&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/world-map.jpeg");
    background-size: cover;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

#heading {
    padding: 3%;
    font-family: "Ga Maamli", sans-serif;
    font-size: 5rem;
    color: antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#instructions {
    font-size: xx-large;
}

/* https://stackoverflow.com/questions/2570972/css-font-border */

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

.hidden {
    display: none;
}

.btn {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-family: "Arsenal SC", sans-serif;
}

#start-game {
    font-size: 2rem;
}

#start-game:hover {
    background-color: rgb(28, 120, 9);
    color: antiquewhite;
}

.btn:hover {
    background-color: grey;
    color: antiquewhite;
}

#quiz-area {
    background-color: rgb(66, 119, 176);
    border-radius: 10px;
    width: 80%;
    height: 65vh;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;    
}