/*heading font*/
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
/*body font*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Ga+Maamli&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/world-map.jpeg") center center/cover;
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

#heading {
    padding: 1%;
    font-family: "Ga Maamli", sans-serif;
    font-size: 3rem;
    color: antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#instructions {
    font-size: x-large;
}

#question {
    font-size: xxx-large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* https://stackoverflow.com/questions/2570972/css-font-border */

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;  
}

.hiden {
    display: none;
}

.btn {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-family: "Arsenal SC", sans-serif;
    font-size: 1.5rem;
}

#start-game, #next {
    font-size: 2rem;
    background-color: rgb(28, 120, 9);
    color: antiquewhite;
}

.scores {
    border-radius: 60px;
    min-width: auto;
    background-color: rgb(156, 80, 26);
    padding: 1%;
    box-shadow: 5px 5px;
}

#question-size {
    font-size: x-small;
}

#quiz-area {
    background-color: rgb(66, 119, 176);
    border-radius: 10px;
    width: 80%;
    height: 65vh;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    margin-top: 5%;    
}

/*Styles for correct and wrong choosen buttons*/

.correct {
    background-color: rgb(28, 120, 9);
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    font-family: "Arsenal SC", sans-serif;
    font-size: 1.8rem;
}

.wrong {
    background-color: rgb(120, 9, 9);
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    font-family: "Arsenal SC", sans-serif;
    font-size: 1.5rem;
}

/*media-query*/

    
@media screen and (min-width: 600px) {

    body {
        background-image: url("../images/world-map.jpeg");
        background-size: cover;
    }

    header {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }

    .btn {
        font-size: 1.5rem;
    }

    .scores {
        width: 20%;
        height: 20%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: xx-large;
    }

    #question-size {
        font-size: x-large;
    }


    #heading {
        font-size: 5rem;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
    }

    #instructions {
        font-size: xx-large;
        margin-bottom: 10px;

    }
    
    #question {
        font-size: xxx-large;
    }

    #start-game, #next {
        font-size: 2rem;
        background-color: antiquewhite;
        color: rgb(28, 120, 9); 
        
    }
    
    #start-game:hover {
        background-color: rgb(28, 120, 9);
        color: antiquewhite;
    }
    
    .btn:hover {
        background-color: grey;
        color: antiquewhite;
    }

    #quiz-area {
        padding: 2%;
        margin-bottom: auto;
        margin-top: 0px;
    }
}


